In [1]:
import torch
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import torch.nn as nn
from sklearn import datasets

In [2]:
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train_test_data= [train, test] 
for dataset in train_test_data:
    dataset['Title'] = dataset['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

title_mapping = {"Mr": "Mr", "Miss": "Miss", "Mrs": "Mrs", 
                 "Master": "etc", "Dr": "etc", "Rev": "etc", "Col": "etc", "Major": "etc", "Mlle": "etc","Countess": "etc",
                 "Ms": "etc", "Lady": "etc", "Jonkheer": "etc", "Don": "etc", "Dona" : "etc", "Mme": "etc","Capt": "etc","Sir": "etc" }
for dataset in train_test_data:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    
train.drop('Name', axis=1, inplace=True)
test.drop('Name', axis=1, inplace=True)

In [4]:
train.drop('Ticket', axis=1, inplace=True)
test.drop('Ticket', axis=1, inplace=True)

test_PassengerId=test["PassengerId"]
train.drop('PassengerId', axis = 1, inplace=True)
test.drop('PassengerId', axis = 1, inplace=True)

In [5]:
# Cabin 앞글자만 따기
train['Cabin'] = train['Cabin'].str[:1]

# mapping
cabin_mapping = {"A": 0, "B": 0, "C": 0, "D": 0, "E": 0, "T": 0, "F": 1, "G": 1}

for dataset in train_test_data:
    dataset['Cabin'] = dataset['Cabin'].map(cabin_mapping)

In [6]:
# fillna
train['Cabin'].fillna((train['Pclass'] == 1) * 1, inplace=True)
test['Cabin'].fillna((test['Pclass'] == 1) * 1, inplace=True)

train["Age"].fillna(train.groupby("Title")["Age"].transform("median"), inplace=True)
test["Age"].fillna(test.groupby("Title")["Age"].transform("median"), inplace=True)

train.replace({"Fare": {0: np.nan}}, inplace=True)
test.replace({"Fare": {0: np.nan}}, inplace=True)

train["Fare"].fillna(train.groupby("Pclass")["Fare"].transform("median"), inplace=True)
test["Fare"].fillna(test.groupby("Pclass")["Fare"].transform("median"), inplace=True)

for dataset in train_test_data:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')

In [7]:
# binning
for dataset in train_test_data:
    dataset.loc[ dataset['Age'] <= 10, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 10) & (dataset['Age'] <= 18), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 18) & (dataset['Age'] <= 22), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 22) & (dataset['Age'] <= 34), 'Age'] = 3
    dataset.loc[(dataset['Age'] > 34) & (dataset['Age'] <= 46), 'Age'] = 4
    dataset.loc[(dataset['Age'] > 46) & (dataset['Age'] <= 62), 'Age'] = 5
    dataset.loc[ dataset['Age'] > 62, 'Age'] = 6

    
for dataset in train_test_data:
    dataset.loc[ dataset['Fare'] <= 10, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 10) & (dataset['Fare'] <= 30), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 30) & (dataset['Fare'] <= 100), 'Fare'] = 2
    dataset.loc[ dataset['Fare'] > 100, 'Fare'] = 3

In [8]:
# 머신에게 학습을 시킬때는 문자열로는 학습이 안된다. 모든 값을 숫자로 매핑시킨다.
sex_mapping = {"male": 0, "female": 1}
for dataset in train_test_data:
    dataset['Sex'] = dataset['Sex'].map(sex_mapping)

In [9]:
# 선착장을 숫자로 맵핑
embarked_mapping = {"S": 0, "C": 1, "Q": 2}
for dataset in train_test_data:
    dataset['Embarked'] = dataset['Embarked'].map(embarked_mapping)

In [10]:
title_mapping = {"Mr": 0, "Miss": 1, "Mrs": 2, "etc": 3}
for dataset in train_test_data:
    dataset['Title'] = dataset['Title'].map(title_mapping)

In [11]:
train.head()

   Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Cabin  Embarked  Title
0         0       3    0  2.0      1      0   0.0    0.0         0      0
1         1       1    1  4.0      1      0   2.0    0.0         1      2
2         1       3    1  3.0      0      0   0.0    0.0         0      1
3         1       1    1  4.0      1      0   2.0    0.0         0      2
4         0       3    0  4.0      0      0   0.0    0.0         0      0

In [12]:
test.head()

   Pclass  Sex  Age  SibSp  Parch  Fare  Cabin  Embarked  Title
0       3    0  4.0      0      0   0.0    0.0         2      0
1       3    1  5.0      1      0   0.0    0.0         0      2
2       2    0  5.0      0      0   0.0    0.0         2      0
3       3    0  3.0      0      0   0.0    0.0         0      0
4       3    1  2.0      1      1   1.0    0.0         0      2

In [13]:
train_data = train.drop('Survived', axis=1)
train_data

     Pclass  Sex  Age  SibSp  Parch  Fare  Cabin  Embarked  Title
0         3    0  2.0      1      0   0.0    0.0         0      0
1         1    1  4.0      1      0   2.0    0.0         1      2
2         3    1  3.0      0      0   0.0    0.0         0      1
3         1    1  4.0      1      0   2.0    0.0         0      2
4         3    0  4.0      0      0   0.0    0.0         0      0
..      ...  ...  ...    ...    ...   ...    ...       ...    ...
886       2    0  3.0      0      0   1.0    0.0         0      3
887       1    1  2.0      0      0   1.0    0.0         0      1
888       3    1  2.0      1      2   1.0    0.0         0      1
889       1    0  3.0      0      0   1.0    0.0         1      0
890       3    0  3.0      0      0   0.0    0.0         2      0

[891 rows x 9 columns]

In [14]:
train_label = train['Survived']
train_label

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [15]:
input_size = 9
hidden_size = 56
num_classes = 2
num_epochs = 100
learning_rate = 0.01

In [16]:
class NeuralNet(nn.Module): 
    
    def __init__(self, input_size, hidden_size, num_classes):
        super(NeuralNet, self).__init__()
        self.fc1 = nn.Linear(input_size, hidden_size)
        self.relu = nn.ReLU()
        self.fc2 = nn.Linear(hidden_size, num_classes)

    # 모델의 Forward Path를 정의
    def forward(self, x):
        out = self.fc1(x)
        out = self.relu(out)
        out = self.fc2(out)
    
        return out

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train_data, 
                                                    train_label, 
                                                    random_state=42,
                                                    stratify=train_label)
X_train = torch.FloatTensor(X_train.values)
X_test = torch.FloatTensor(X_test.values)
y_train = torch.LongTensor(y_train.values)
y_test = torch.LongTensor(y_test.values)

In [18]:
# 위에서 정의한 클래스를 인스턴스화 시킴
# model = NeuralNet(input_size, hidden_size, num_classes).to(device) # to(device) : 이 모델을 gpu 서버에서 돌린다는 뜻
model = NeuralNet(input_size, hidden_size, num_classes)
# loss, optimizer를 선정의
loss_function = nn.CrossEntropyLoss() # Loss 기능 안에 Softmax 함수 기능 포함되어져 있다.
optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)

loss_list = []

for epoch in range(num_epochs): # 5번
    # Forward Pass
    pred = model(X_train)
    loss = loss_function(pred, y_train)
    
    loss_list.append(loss.item())

    optimizer.zero_grad()
    loss.backward()

    optimizer.step()

    print(f"Epoch : [{epoch + 1}/{num_epochs}], Loss : {loss.item():.4f}")

Epoch : [1/100], Loss : 0.9064
Epoch : [2/100], Loss : 0.7198
Epoch : [3/100], Loss : 0.6361
Epoch : [4/100], Loss : 0.6129
Epoch : [5/100], Loss : 0.6068
Epoch : [6/100], Loss : 0.5932
Epoch : [7/100], Loss : 0.5678
Epoch : [8/100], Loss : 0.5369
Epoch : [9/100], Loss : 0.5087
Epoch : [10/100], Loss : 0.4895
Epoch : [11/100], Loss : 0.4808
Epoch : [12/100], Loss : 0.4799
Epoch : [13/100], Loss : 0.4816
Epoch : [14/100], Loss : 0.4810
Epoch : [15/100], Loss : 0.4760
Epoch : [16/100], Loss : 0.4680
Epoch : [17/100], Loss : 0.4598
Epoch : [18/100], Loss : 0.4540
Epoch : [19/100], Loss : 0.4515
Epoch : [20/100], Loss : 0.4511
Epoch : [21/100], Loss : 0.4506
Epoch : [22/100], Loss : 0.4486
Epoch : [23/100], Loss : 0.4451
Epoch : [24/100], Loss : 0.4410
Epoch : [25/100], Loss : 0.4375
Epoch : [26/100], Loss : 0.4356
Epoch : [27/100], Loss : 0.4351
Epoch : [28/100], Loss : 0.4347
Epoch : [29/100], Loss : 0.4338
Epoch : [30/100], Loss : 0.4323
Epoch : [31/100], Loss : 0.4302
Epoch : [32/100], Loss : 0.4283
Epoch : [33/100], Loss : 0.4269
Epoch : [34/100], Loss : 0.4259
Epoch : [35/100], Loss : 0.4250
Epoch : [36/100], Loss : 0.4236
Epoch : [37/100], Loss : 0.4217
Epoch : [38/100], Loss : 0.4197
Epoch : [39/100], Loss : 0.4179
Epoch : [40/100], Loss : 0.4167
Epoch : [41/100], Loss : 0.4158
Epoch : [42/100], Loss : 0.4149
Epoch : [43/100], Loss : 0.4137
Epoch : [44/100], Loss : 0.4124
Epoch : [45/100], Loss : 0.4111
Epoch : [46/100], Loss : 0.4100
Epoch : [47/100], Loss : 0.4092
Epoch : [48/100], Loss : 0.4083
Epoch : [49/100], Loss : 0.4074
Epoch : [50/100], Loss : 0.4063
Epoch : [51/100], Loss : 0.4052
Epoch : [52/100], Loss : 0.4043
Epoch : [53/100], Loss : 0.4035
Epoch : [54/100], Loss : 0.4026
Epoch : [55/100], Loss : 0.4016
Epoch : [56/100], Loss : 0.4006
Epoch : [57/100], Loss : 0.3996
Epoch : [58/100], Loss : 0.3988
Epoch : [59/100], Loss : 0.3979
Epoch : [60/100], Loss : 0.3969
Epoch : [61/100], Loss : 0.3960
Epoch : [62/100], Loss : 0.3951
Epoch : [63/100], Loss : 0.3942
Epoch : [64/100], Loss : 0.3933
Epoch : [65/100], Loss : 0.3925
Epoch : [66/100], Loss : 0.3916
Epoch : [67/100], Loss : 0.3907
Epoch : [68/100], Loss : 0.3897
Epoch : [69/100], Loss : 0.3889
Epoch : [70/100], Loss : 0.3881
Epoch : [71/100], Loss : 0.3872
Epoch : [72/100], Loss : 0.3862
Epoch : [73/100], Loss : 0.3853
Epoch : [74/100], Loss : 0.3844
Epoch : [75/100], Loss : 0.3835
Epoch : [76/100], Loss : 0.3826
Epoch : [77/100], Loss : 0.3817
Epoch : [78/100], Loss : 0.3808
Epoch : [79/100], Loss : 0.3799
Epoch : [80/100], Loss : 0.3791
Epoch : [81/100], Loss : 0.3782
Epoch : [82/100], Loss : 0.3774
Epoch : [83/100], Loss : 0.3766
Epoch : [84/100], Loss : 0.3758
Epoch : [85/100], Loss : 0.3750
Epoch : [86/100], Loss : 0.3742
Epoch : [87/100], Loss : 0.3734
Epoch : [88/100], Loss : 0.3727
Epoch : [89/100], Loss : 0.3720
Epoch : [90/100], Loss : 0.3712
Epoch : [91/100], Loss : 0.3705
Epoch : [92/100], Loss : 0.3698
Epoch : [93/100], Loss : 0.3690
Epoch : [94/100], Loss : 0.3683
Epoch : [95/100], Loss : 0.3677
Epoch : [96/100], Loss : 0.3670
Epoch : [97/100], Loss : 0.3663
Epoch : [98/100], Loss : 0.3656
Epoch : [99/100], Loss : 0.3650
Epoch : [100/100], Loss : 0.3643

In [19]:
with torch.no_grad(): # 미분 안하겠다...실제로 학습할 필요가 없을 때 이 구문을 반드시 작성
    correct = 0
    total = 0

    for features, labels in zip(X_test, y_test):
        outputs = model(features)
        
        _,predicted = torch.max(outputs.data,1)
        total += 1
        correct += (torch.argmax(outputs) == labels).sum().item()

    print(f"Accuracy of the Network on the Test Images : {100*correct/total}%")

Accuracy of the Network on the Test Images : 81.16591928251121%

### Submit

In [20]:
train_data = torch.FloatTensor(train_data.values)
test = torch.FloatTensor(test.values)
train_label = torch.LongTensor(train_label.values)

In [21]:
# 위에서 정의한 클래스를 인스턴스화 시킴
# model = NeuralNet(input_size, hidden_size, num_classes).to(device) # to(device) : 이 모델을 gpu 서버에서 돌린다는 뜻
model = NeuralNet(input_size, hidden_size, num_classes)
# loss, optimizer를 선정의
loss_function = nn.CrossEntropyLoss() # Loss 기능 안에 Softmax 함수 기능 포함되어져 있다.
optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)

for epoch in range(num_epochs): # 100번
    # Forward Pass
    pred = model(train_data)
    loss = loss_function(pred, train_label)

    optimizer.zero_grad()
    loss.backward()

    optimizer.step()

    print(f"Epoch : [{epoch + 1}/{num_epochs}], Loss : {loss.item():.4f}")

Epoch : [1/100], Loss : 0.6830
Epoch : [2/100], Loss : 0.6359
Epoch : [3/100], Loss : 0.5936
Epoch : [4/100], Loss : 0.5588
Epoch : [5/100], Loss : 0.5281
Epoch : [6/100], Loss : 0.5025
Epoch : [7/100], Loss : 0.4832
Epoch : [8/100], Loss : 0.4687
Epoch : [9/100], Loss : 0.4594
Epoch : [10/100], Loss : 0.4548
Epoch : [11/100], Loss : 0.4530
Epoch : [12/100], Loss : 0.4535
Epoch : [13/100], Loss : 0.4545
Epoch : [14/100], Loss : 0.4550
Epoch : [15/100], Loss : 0.4546
Epoch : [16/100], Loss : 0.4528
Epoch : [17/100], Loss : 0.4497
Epoch : [18/100], Loss : 0.4459
Epoch : [19/100], Loss : 0.4413
Epoch : [20/100], Loss : 0.4368
Epoch : [21/100], Loss : 0.4325
Epoch : [22/100], Loss : 0.4288
Epoch : [23/100], Loss : 0.4259
Epoch : [24/100], Loss : 0.4236
Epoch : [25/100], Loss : 0.4217
Epoch : [26/100], Loss : 0.4203
Epoch : [27/100], Loss : 0.4191
Epoch : [28/100], Loss : 0.4180
Epoch : [29/100], Loss : 0.4168
Epoch : [30/100], Loss : 0.4155
Epoch : [31/100], Loss : 0.4139
Epoch : [32/100], Loss : 0.4121
Epoch : [33/100], Loss : 0.4102
Epoch : [34/100], Loss : 0.4083
Epoch : [35/100], Loss : 0.4064
Epoch : [36/100], Loss : 0.4048
Epoch : [37/100], Loss : 0.4034
Epoch : [38/100], Loss : 0.4022
Epoch : [39/100], Loss : 0.4011
Epoch : [40/100], Loss : 0.4002
Epoch : [41/100], Loss : 0.3992
Epoch : [42/100], Loss : 0.3982
Epoch : [43/100], Loss : 0.3972
Epoch : [44/100], Loss : 0.3962
Epoch : [45/100], Loss : 0.3950
Epoch : [46/100], Loss : 0.3938
Epoch : [47/100], Loss : 0.3927
Epoch : [48/100], Loss : 0.3917
Epoch : [49/100], Loss : 0.3908
Epoch : [50/100], Loss : 0.3899
Epoch : [51/100], Loss : 0.3892
Epoch : [52/100], Loss : 0.3885
Epoch : [53/100], Loss : 0.3878
Epoch : [54/100], Loss : 0.3870
Epoch : [55/100], Loss : 0.3863
Epoch : [56/100], Loss : 0.3854
Epoch : [57/100], Loss : 0.3845
Epoch : [58/100], Loss : 0.3836
Epoch : [59/100], Loss : 0.3828
Epoch : [60/100], Loss : 0.3820
Epoch : [61/100], Loss : 0.3811
Epoch : [62/100], Loss : 0.3802
Epoch : [63/100], Loss : 0.3794
Epoch : [64/100], Loss : 0.3786
Epoch : [65/100], Loss : 0.3778
Epoch : [66/100], Loss : 0.3770
Epoch : [67/100], Loss : 0.3763
Epoch : [68/100], Loss : 0.3755
Epoch : [69/100], Loss : 0.3747
Epoch : [70/100], Loss : 0.3739
Epoch : [71/100], Loss : 0.3730
Epoch : [72/100], Loss : 0.3721
Epoch : [73/100], Loss : 0.3715
Epoch : [74/100], Loss : 0.3706
Epoch : [75/100], Loss : 0.3698
Epoch : [76/100], Loss : 0.3690
Epoch : [77/100], Loss : 0.3683
Epoch : [78/100], Loss : 0.3676
Epoch : [79/100], Loss : 0.3668
Epoch : [80/100], Loss : 0.3660
Epoch : [81/100], Loss : 0.3654
Epoch : [82/100], Loss : 0.3647
Epoch : [83/100], Loss : 0.3640
Epoch : [84/100], Loss : 0.3634
Epoch : [85/100], Loss : 0.3626
Epoch : [86/100], Loss : 0.3618
Epoch : [87/100], Loss : 0.3612
Epoch : [88/100], Loss : 0.3606
Epoch : [89/100], Loss : 0.3599
Epoch : [90/100], Loss : 0.3594
Epoch : [91/100], Loss : 0.3587
Epoch : [92/100], Loss : 0.3582
Epoch : [93/100], Loss : 0.3578
Epoch : [94/100], Loss : 0.3573
Epoch : [95/100], Loss : 0.3567
Epoch : [96/100], Loss : 0.3561
Epoch : [97/100], Loss : 0.3553
Epoch : [98/100], Loss : 0.3546
Epoch : [99/100], Loss : 0.3540
Epoch : [100/100], Loss : 0.3536

In [22]:
with torch.no_grad(): # 미분 안하겠다...실제로 학습할 필요가 없을 때 이 구문을 반드시 작성
    correct = 0
    total = 0
    
    prediction = []
    
    for features in test:
        outputs = model(features)
        prediction.append(torch.argmax(outputs).item())
        
len(prediction)

418

In [23]:
submission = pd.read_csv('../submit/gender_submission.csv')
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [24]:
# 예측한 결과를 집어넣어 다시 csv파일로 저장한다.
submission['Survived'] = prediction
submission.to_csv('../submit/gender_submission.csv', index=False)